@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg-primary text-text-primary font-sans;
  }
  /* Style for the scrollbar to match the new theme */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: theme('colors.bg-primary');
  }
  ::-webkit-scrollbar-thumb {
    background-color: theme('colors.text-secondary');
    border-radius: 10px;
    border: 2px solid theme('colors.bg-primary');
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.hover-color');
  }
}

@layer utilities {
  /* Custom utility for the shiny text effect */
  .text-shadow-shiny {
    text-shadow: 0 0 18px rgba(191, 166, 104, 0.5);
  }
}